@layer utilities {
  .animation-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.3s ease-out;
  }
  .animation-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.3s ease-out;
  }
  .scroll-animation {
    opacity: 1;
    transform: translateX(0);
  }
}
