@layer utilities {
  @keyframes shimmer {
    to {
      background-position-x: 0%;
    }
  }

  .shimmer-yellow:hover {
    background: linear-gradient(-45deg, rgb(254 240 138) 40%, #fafafa 50%, rgb(254 240 138) 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s linear;
  }

  .shimmer-purple:hover {
    background: linear-gradient(-45deg, rgb(245 208 254) 40%, #fafafa 50%, rgb(245 208 254) 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s linear;
  }

  .shade {
    box-shadow: 10px 10px;
  }
  .shade-small {
    box-shadow: 5px 5px;
  }

  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .animation-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.3s ease-out;
    // transition-delay: 0.1s;
  }
  .animation-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.3s ease-out;
    // transition-delay: 0.1s;
  }

  .scroll-animation {
    opacity: 1;
    transform: translateX(0);
  }
}
